@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.slogan{
    color: #525252
}

.arrow-left{
    width: 40px;
    padding: 30px;
    color: #901C1C;
}

.arrow-right{
    width: 40px;
    padding: 30px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 70px;
}

.photographer_section a {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section a > div {
    font-size: 12px;
}

.photographer_section a > div:first-of-type {
    margin-top: -30px;
    color: #901C1C;
}

.photographer_section a > div:nth-of-type(2) {
    color: black;
}

.photographer_section a > div:nth-of-type(3) {
    color: #757575;
}

h2 {
    color: #D3573C;
    font-size: 36px;
}

h3{
    color: #901C1C;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.DetailPhotographer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.PhotographerPicture{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.p-2{
    padding: 10px;
}